body {background-color:sandybrown}
h1 { border-style: dotted; color:rgb(151, 72, 72); text-decoration:underline}
h3 { left: auto; color:rgb(151, 72, 72); font-size:x-large;}
img {width: 375px;height: 375px;}