body {background: sandybrown url(../imagenes/vacaspasto.jpg) fixed 1550px 850px; margin: 1%;
}

#titulo {font-style: italic; text-align: center; font-size: 300%; color:rgb(160, 82, 45);}
.titulo2 {font-style: italic; font-size: 100%;}
.subs {left:auto; color:rgb(160, 82, 45); font-size: x-large;}
.recetassimilares {font-style:normal; font-size: xx-large; text-align:center; display: flex; align-items:end;}
.ingredientes {flex-wrap: wrap;}
.listaingredientes {margin-left:1%; font-style: italic; padding: 7px;}
.pasos {flex-wrap: wrap;}
.listapasos {margin-left: 1%; font-style: italic; padding: 7px;}
.info{margin-left:1mm; padding-inline-end: 1%; padding: 7px; flex-wrap: wrap; }
.pie {font-size: 125%;font-weight: 200;}
.pregunta {font-size: 130%; font-weight: 200;}
.izquierda {border-color: peru;}


header {background-color: rgb(255, 235, 205); margin: 10px; padding: 15px; border: 6px dotted rgb(160, 82, 45);
    display:flex; justify-content: space-around; flex-wrap: wrap;
}
.social {display:flex; justify-content: space-around; align-self: center;
        border: 1px hidden; padding: 10px; margin: 10px;
}

nav {background-color: peru; font-family:fantasy; text-align: center; padding-bottom:1mm; margin-top: 1mm;
  display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap;
}


.titulo2 {background-color: rgb(160, 82, 45)}
.ingredientes {background-color:rgb(255, 235, 205);}
.pasos {background-color:rgb(255, 235, 205);}
.info {background-color: peru ;}
footer {background-color: chocolate;}


.links {list-style: none;
    padding: 0;
    width: 100%;
  }
  .links {
    font-family: fantasy;
    display:flex;
    justify-content: space-around;
  }
 .links a {
  font-family: fantasy;
    outline:double saddlebrown;
    text-decoration:none;
    display: inline-block;
    width: 120%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 4;
    color: black;
  } 
  .links:last-child a {
    margin-right: 0;
  }
  .links a:link, a:visited, a:focus {
    background: rgb(255, 235, 205);
  }
  .links a:hover {
    background: saddlebrown;
  }
  .links a:active {
    background:  rgb(160, 82, 45);
    color: white;
  }

.origen a {
        align-self:center;
        outline:double saddlebrown;
        text-decoration:none;
        display: inline-block;
        width: 35.5%;
        margin-right: 0.625%;
        text-align:center;
        font-family: fantasy;
        line-height: 3;
        color: black;
    } 
  .origen:last-child a {
        margin-right: 0;
    }
  .origen a:link, a:visited, a:focus {
        background: rgb(255, 235, 205);
    }
  .origen a:hover {
        background: saddlebrown;
    }
  .origen a:active {
        background:  rgb(160, 82, 45);
        color: white;
    }

.origen {
    margin: 1%; border: 1%; padding: 1%; bottom: 1%;
    background-color: rgb(160, 82, 45);
    font-style: italic; font-size:large; font-family: fantasy;
    text-align: center;
    display:flex; flex-wrap: wrap;
    justify-content: center;
  }


footer {display: flex; justify-content: space-around;
  flex-wrap: wrap;
  }

.mapa {margin: 0; border: 0 hidden; padding: 1%;
}

.firma {list-style: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  }



#whatsapp {
    background: none;
    position: fixed;
    bottom: 20px;
    right:20px;
 }

 svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
 }
 circle {
    fill: #25d366;
 }
 path {
    fill: #fff;
 }